<!doctype html>
<html lang="en">
<head>
  <title></title>
  <link href='' rel='stylesheet' type='text/css'>
  <link href='styles/main.css' rel='stylesheet' type='text/css'>
</head>
<body ng-app="guruGuestList">
  
  <h1>My Guest List</h1><!--Make customizable-->
  <div ng-controller="mainCtrl" class="list">
    <label class="editing-guest">A Sample Guest Name</label> <!--display Guest-->
    <input class="editing-guest" type="text"/> 
    
    <div><!--RSVP? ng-controller="rsvp"-->
    <input type="checkbox"/>
    </div>
    
    <div><!-- +1/ guest total dropdown or checkbox--></div>
    <div><!-- food/dinner choice ... radio button/dropdown --></div>
  </div>
  <div class="actions">
  <a href="">EDIT</a> 
  <a href="">SAVE</a>
  <a href="" class="delete">DELETE</a>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="scripts/app.js" type="text/javascript"></script>
  <script src="scripts/guest-list.js" type="text/javascript"></script>
</body>
</html>
